<h1>@ViewData["Titulek"]</h1>

<p><a href="/">Domů</a></p>

<form action="/Uzivatel/Prihlasit" method="post">
    <input type="text" name="jmeno" placeholder="Jméno..." /><br />
    <input type="password" name="heslo" placeholder="Heslo..." /><br />
    <input type="submit" value="Přihlásit se" />
</form>
